{
  AccessModifierOffset: -2,
  AlignAfterOpenBracket: Align,
  AlignConsecutiveAssignments: Consecutive,
  AlignTrailingComments: true,
  AllowShortBlocksOnASingleLine: Always,
  AllowShortFunctionsOnASingleLine: All,
  AllowShortIfStatementsOnASingleLine: WithoutElse,
  AllowShortLambdasOnASingleLine: All,
  BasedOnStyle: LLVM,
  BreakBeforeBraces: Attach,
  BreakConstructorInitializers: BeforeComma,
  ColumnLimit: 0,
  ConstructorInitializerIndentWidth: 0,
  FixNamespaceComments: false,
  IndentCaseLabels: false,
  IndentWidth: 2,
  NamespaceIndentation: All,
  PointerAlignment: Right,
  TabWidth: 2,
  UseTab: Never
}